-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: archbishops_school_mgt
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `owner_type` enum('Private','International','Father','Rector','Principal','Student','General') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'NULL = no specific owner entity',
  `owner_id` int unsigned DEFAULT NULL,
  `doc_category` enum('Teachers','Religious','Students','Principals','Non_academic') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Teachers',
  `form_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `original_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stored_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mime_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'application/pdf',
  `file_size_bytes` int unsigned DEFAULT NULL,
  `admin_only` tinyint(1) NOT NULL DEFAULT '0',
  `uploaded_by` int unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_doc_uploaded_by` (`uploaded_by`),
  KEY `idx_doc_owner` (`owner_type`,`owner_id`),
  KEY `idx_doc_form_code` (`form_code`),
  CONSTRAINT `fk_doc_uploaded_by` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `father_qualifications`
--

DROP TABLE IF EXISTS `father_qualifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `father_qualifications` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `father_id` int unsigned NOT NULL,
  `qualification` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_fq` (`father_id`,`qualification`(100)),
  KEY `idx_fq_father` (`father_id`),
  CONSTRAINT `fk_fq_father` FOREIGN KEY (`father_id`) REFERENCES `fathers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `father_qualifications`
--

LOCK TABLES `father_qualifications` WRITE;
/*!40000 ALTER TABLE `father_qualifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `father_qualifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fathers`
--

DROP TABLE IF EXISTS `fathers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fathers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `father_no` smallint unsigned NOT NULL COMMENT 'The "No." column in the CSV',
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_id` int unsigned DEFAULT NULL,
  `registration` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ordination_date` date DEFAULT NULL,
  `first_appointment_date` date DEFAULT NULL,
  `present_school_appointment_date` date DEFAULT NULL,
  `five_year_completion` date DEFAULT NULL,
  `evaluation` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `father_no` (`father_no`),
  KEY `idx_fat_school` (`school_id`),
  CONSTRAINT `fk_fat_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fathers`
--

LOCK TABLES `fathers` WRITE;
/*!40000 ALTER TABLE `fathers` DISABLE KEYS */;
/*!40000 ALTER TABLE `fathers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `international_school_teachers`
--

DROP TABLE IF EXISTS `international_school_teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `international_school_teachers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tin_category` tinyint unsigned NOT NULL COMMENT '1=Teacher  2=Clerical  3=Minor',
  `tin_school_number` tinyint unsigned NOT NULL COMMENT 'International: 51ΓÇô55',
  `tin_teacher_no_school` smallint unsigned NOT NULL,
  `tin_teacher_no_global` smallint unsigned NOT NULL,
  `tin` varchar(25) COLLATE utf8mb4_unicode_ci GENERATED ALWAYS AS (concat(`tin_category`,_utf8mb4'/',lpad(`tin_school_number`,3,_utf8mb4'0'),_utf8mb4'/',lpad(`tin_teacher_no_school`,3,_utf8mb4'0'),_utf8mb4'/',`tin_teacher_no_global`)) STORED NOT NULL,
  `category` enum('Permanent','Fixed_Term_Contract') COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `designation` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nic` varchar(12) COLLATE utf8mb4_unicode_ci NOT NULL,
  `religion` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_of_birth` date NOT NULL,
  `date_of_first_appointment` date DEFAULT NULL,
  `school_id` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `removed_at` datetime DEFAULT NULL,
  `removed_reason` enum('Resignation','Retirement','Transfer','Qualification_Failure') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nic` (`nic`),
  UNIQUE KEY `uq_ist_tin` (`tin`),
  KEY `idx_ist_tin` (`tin`),
  KEY `idx_ist_school` (`school_id`),
  KEY `idx_ist_nic` (`nic`),
  KEY `idx_ist_category` (`category`),
  KEY `idx_ist_active` (`is_active`),
  CONSTRAINT `fk_ist_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `international_school_teachers`
--

LOCK TABLES `international_school_teachers` WRITE;
/*!40000 ALTER TABLE `international_school_teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `international_school_teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `international_teacher_contracts`
--

DROP TABLE IF EXISTS `international_teacher_contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `international_teacher_contracts` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `probation_start` date DEFAULT NULL,
  `probation_end` date DEFAULT NULL,
  `contract_start` date DEFAULT NULL,
  `contract_end` date DEFAULT NULL,
  `contract_expiry` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `teacher_id` (`teacher_id`),
  CONSTRAINT `fk_itc_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `international_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `international_teacher_contracts`
--

LOCK TABLES `international_teacher_contracts` WRITE;
/*!40000 ALTER TABLE `international_teacher_contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `international_teacher_contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `international_teacher_phones`
--

DROP TABLE IF EXISTS `international_teacher_phones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `international_teacher_phones` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `phone_number` varchar(25) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_type` enum('Mobile','Home','Work','Other') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Mobile',
  `is_primary` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_itp_teacher` (`teacher_id`),
  CONSTRAINT `fk_itp_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `international_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `international_teacher_phones`
--

LOCK TABLES `international_teacher_phones` WRITE;
/*!40000 ALTER TABLE `international_teacher_phones` DISABLE KEYS */;
/*!40000 ALTER TABLE `international_teacher_phones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_school_teachers`
--

DROP TABLE IF EXISTS `private_school_teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_school_teachers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tin_category` tinyint unsigned NOT NULL COMMENT '1=Teacher  2=Clerical Staff  3=Minor Staff',
  `tin_school_number` tinyint unsigned NOT NULL COMMENT 'Private: 01ΓÇô32',
  `tin_teacher_no_school` smallint unsigned NOT NULL COMMENT 'Sequence within school',
  `tin_teacher_no_global` smallint unsigned NOT NULL COMMENT 'Sequence across full list',
  `tin` varchar(25) COLLATE utf8mb4_unicode_ci GENERATED ALWAYS AS (concat(`tin_category`,_utf8mb4'/',lpad(`tin_school_number`,3,_utf8mb4'0'),_utf8mb4'/',lpad(`tin_teacher_no_school`,3,_utf8mb4'0'),_utf8mb4'/',`tin_teacher_no_global`)) STORED NOT NULL,
  `present_category` tinyint unsigned NOT NULL,
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nic` varchar(12) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gender` enum('Male','Female','Other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_birth` date NOT NULL,
  `religion` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `home_address` text COLLATE utf8mb4_unicode_ci,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_of_first_appointment` date DEFAULT NULL,
  `service_status` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0=No prior service  1=Yes prior service',
  `confirmation_letter_status` enum('Pending','Issued','Not_Required') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Pending',
  `ssp_status` enum('Not_Completed','Yes','Completed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Not_Completed',
  `dcett_status` enum('Not_Completed','Yes','Completed') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Not_Completed',
  `selection_test_attempt1` enum('Pass','Fail') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `selection_test_attempt2` enum('Pass','Fail') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `selection_test_attempt3` enum('Pass','Fail') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profile_picture_path` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_id` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `removed_at` datetime DEFAULT NULL,
  `removed_reason` enum('Resignation','Retirement','Transfer','Qualification_Failure') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nic` (`nic`),
  UNIQUE KEY `uq_pst_tin` (`tin`),
  KEY `idx_pst_tin` (`tin`),
  KEY `idx_pst_school` (`school_id`),
  KEY `idx_pst_nic` (`nic`),
  KEY `idx_pst_category` (`present_category`),
  KEY `idx_pst_active` (`is_active`),
  KEY `idx_pst_tin_category` (`tin_category`,`tin_school_number`),
  CONSTRAINT `fk_pst_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_school_teachers`
--

LOCK TABLES `private_school_teachers` WRITE;
/*!40000 ALTER TABLE `private_school_teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_school_teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_class_levels`
--

DROP TABLE IF EXISTS `private_teacher_class_levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_class_levels` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `class_level` enum('1-5','6-11','12-13') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ptcl` (`teacher_id`,`class_level`),
  CONSTRAINT `fk_ptcl_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_class_levels`
--

LOCK TABLES `private_teacher_class_levels` WRITE;
/*!40000 ALTER TABLE `private_teacher_class_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_class_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_contracts`
--

DROP TABLE IF EXISTS `private_teacher_contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_contracts` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `contract_6month_start` date DEFAULT NULL,
  `contract_6month_end` date DEFAULT NULL,
  `contract_2nd_start` date DEFAULT NULL,
  `contract_2nd_end` date DEFAULT NULL,
  `contract_3rd_start` date DEFAULT NULL,
  `contract_3rd_end` date DEFAULT NULL,
  `contract_3rd_expiry` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `teacher_id` (`teacher_id`),
  CONSTRAINT `fk_ptc_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_contracts`
--

LOCK TABLES `private_teacher_contracts` WRITE;
/*!40000 ALTER TABLE `private_teacher_contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_education`
--

DROP TABLE IF EXISTS `private_teacher_education`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_education` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `qualification` enum('A/L','Graduate','MA','PhD','Other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `other_detail` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ptedu` (`teacher_id`,`qualification`),
  CONSTRAINT `fk_ptedu_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_education`
--

LOCK TABLES `private_teacher_education` WRITE;
/*!40000 ALTER TABLE `private_teacher_education` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_education` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_mediums`
--

DROP TABLE IF EXISTS `private_teacher_mediums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_mediums` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `medium` enum('English','Tamil','Sinhala') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ptmed` (`teacher_id`,`medium`),
  CONSTRAINT `fk_ptmed_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_mediums`
--

LOCK TABLES `private_teacher_mediums` WRITE;
/*!40000 ALTER TABLE `private_teacher_mediums` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_mediums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_phones`
--

DROP TABLE IF EXISTS `private_teacher_phones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_phones` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `phone_number` varchar(25) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_type` enum('Mobile','Home','Work','Other') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Mobile',
  `is_primary` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_ptp_teacher` (`teacher_id`),
  CONSTRAINT `fk_ptp_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_phones`
--

LOCK TABLES `private_teacher_phones` WRITE;
/*!40000 ALTER TABLE `private_teacher_phones` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_phones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_professional_qualifications`
--

DROP TABLE IF EXISTS `private_teacher_professional_qualifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_professional_qualifications` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `qualification` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ptpq_teacher` (`teacher_id`),
  CONSTRAINT `fk_ptpq_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_professional_qualifications`
--

LOCK TABLES `private_teacher_professional_qualifications` WRITE;
/*!40000 ALTER TABLE `private_teacher_professional_qualifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_professional_qualifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `private_teacher_subjects`
--

DROP TABLE IF EXISTS `private_teacher_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `private_teacher_subjects` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_id` int unsigned NOT NULL,
  `subject` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ptsub` (`teacher_id`,`subject`),
  KEY `idx_ptsub_teacher` (`teacher_id`),
  CONSTRAINT `fk_ptsub_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `private_school_teachers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `private_teacher_subjects`
--

LOCK TABLES `private_teacher_subjects` WRITE;
/*!40000 ALTER TABLE `private_teacher_subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `private_teacher_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rector_qualifications`
--

DROP TABLE IF EXISTS `rector_qualifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rector_qualifications` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `rector_id` int unsigned NOT NULL,
  `qualification` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_rq` (`rector_id`,`qualification`(100)),
  KEY `idx_rq_rector` (`rector_id`),
  CONSTRAINT `fk_rq_rector` FOREIGN KEY (`rector_id`) REFERENCES `rectors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rector_qualifications`
--

LOCK TABLES `rector_qualifications` WRITE;
/*!40000 ALTER TABLE `rector_qualifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `rector_qualifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rectors`
--

DROP TABLE IF EXISTS `rectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rectors` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `rector_no` smallint unsigned NOT NULL COMMENT 'The "No." column in the CSV',
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `present_school_id` int unsigned DEFAULT NULL,
  `registration_status` enum('Registered','Unregistered','Pending') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Pending',
  `date_of_birth` date DEFAULT NULL,
  `first_appointment_date` date DEFAULT NULL,
  `appointment_to_present_school` date DEFAULT NULL,
  `retirement_date` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rector_no` (`rector_no`),
  KEY `idx_rec_school` (`present_school_id`),
  KEY `idx_rec_retirement` (`retirement_date`),
  CONSTRAINT `fk_rec_school` FOREIGN KEY (`present_school_id`) REFERENCES `schools` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rectors`
--

LOCK TABLES `rectors` WRITE;
/*!40000 ALTER TABLE `rectors` DISABLE KEYS */;
/*!40000 ALTER TABLE `rectors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schools`
--

DROP TABLE IF EXISTS `schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schools` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `school_index` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_type` enum('Private','International','Vested') COLLATE utf8mb4_unicode_ci NOT NULL,
  `principal_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `principal_phone` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_phone` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `student_admission_type` enum('Boys','Girls','Mixed') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_category` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_of_students` smallint unsigned NOT NULL DEFAULT '0',
  `no_of_teachers` smallint unsigned NOT NULL DEFAULT '0',
  `no_of_pensionable_teachers` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `school_index` (`school_index`),
  KEY `idx_schools_type` (`school_type`),
  KEY `idx_schools_index` (`school_index`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schools`
--

LOCK TABLES `schools` WRITE;
/*!40000 ALTER TABLE `schools` DISABLE KEYS */;
/*!40000 ALTER TABLE `schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_removal_approvals`
--

DROP TABLE IF EXISTS `teacher_removal_approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_removal_approvals` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `teacher_type` enum('Private','International') COLLATE utf8mb4_unicode_ci NOT NULL,
  `teacher_id` int unsigned NOT NULL,
  `reason` enum('Resignation','Retirement','Transfer','Qualification_Failure') COLLATE utf8mb4_unicode_ci NOT NULL,
  `requested_by` int unsigned NOT NULL COMMENT 'users.id of first admin',
  `approved_by` int unsigned DEFAULT NULL COMMENT 'users.id of second admin',
  `status` enum('Pending','Approved','Rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Pending',
  `requested_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_at` datetime DEFAULT NULL,
  `rejection_note` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_tra_approved_by` (`approved_by`),
  KEY `idx_tra_teacher` (`teacher_type`,`teacher_id`),
  KEY `idx_tra_status` (`status`),
  KEY `idx_tra_req_by` (`requested_by`),
  CONSTRAINT `fk_tra_approved_by` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_tra_requested_by` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_removal_approvals`
--

LOCK TABLES `teacher_removal_approvals` WRITE;
/*!40000 ALTER TABLE `teacher_removal_approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_removal_approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tin_sequences`
--

DROP TABLE IF EXISTS `tin_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tin_sequences` (
  `table_type` enum('Private','International') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tin_category` tinyint unsigned NOT NULL COMMENT '1=Teacher  2=Clerical  3=Minor',
  `last_global` smallint unsigned NOT NULL DEFAULT '0' COMMENT 'Highest tin_teacher_no_global assigned so far',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`table_type`,`tin_category`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tin_sequences`
--

LOCK TABLES `tin_sequences` WRITE;
/*!40000 ALTER TABLE `tin_sequences` DISABLE KEYS */;
INSERT INTO `tin_sequences` VALUES ('Private',1,0,'2026-04-06 09:18:05'),('Private',2,0,'2026-04-06 09:18:05'),('Private',3,0,'2026-04-06 09:18:05'),('International',1,0,'2026-04-06 09:18:05'),('International',2,0,'2026-04-06 09:18:05'),('International',3,0,'2026-04-06 09:18:05');
/*!40000 ALTER TABLE `tin_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('admin_private','admin_international','admin_vested','principal','head_of_hr') COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_type` enum('Private','International','Vested') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'NULL = system-wide admin',
  `school_id` int unsigned DEFAULT NULL COMMENT 'NULL = access to all schools of their type',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `last_login_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_users_role` (`role`),
  KEY `idx_users_school_id` (`school_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vested_school_principals`
--

DROP TABLE IF EXISTS `vested_school_principals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vested_school_principals` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `vested_school_id` int unsigned NOT NULL,
  `full_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nic` varchar(12) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gender` enum('Male','Female','Other') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `religion` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `first_appointment_date` date DEFAULT NULL COMMENT 'Date of very first appointment anywhere',
  `appointment_to_present_school` date DEFAULT NULL,
  `retirement_date` date DEFAULT NULL,
  `phone` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_current` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=current  0=past/archived',
  `end_date` date DEFAULT NULL COMMENT 'Date principal departed this school',
  `departure_reason` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_vsp_school` (`vested_school_id`),
  KEY `idx_vsp_current` (`is_current`),
  KEY `idx_vsp_religion` (`religion`),
  CONSTRAINT `fk_vsp_school` FOREIGN KEY (`vested_school_id`) REFERENCES `vested_schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vested_school_principals`
--

LOCK TABLES `vested_school_principals` WRITE;
/*!40000 ALTER TABLE `vested_school_principals` DISABLE KEYS */;
/*!40000 ALTER TABLE `vested_school_principals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vested_school_student_stats`
--

DROP TABLE IF EXISTS `vested_school_student_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vested_school_student_stats` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `vested_school_id` int unsigned NOT NULL,
  `stat_year` year NOT NULL,
  `count_catholic` smallint unsigned NOT NULL DEFAULT '0',
  `count_other_christian` smallint unsigned NOT NULL DEFAULT '0',
  `count_buddhist` smallint unsigned NOT NULL DEFAULT '0',
  `count_hindu` smallint unsigned NOT NULL DEFAULT '0',
  `count_islam` smallint unsigned NOT NULL DEFAULT '0',
  `count_other_religion` smallint unsigned NOT NULL DEFAULT '0',
  `count_sinhala_medium` smallint unsigned NOT NULL DEFAULT '0',
  `count_tamil_medium` smallint unsigned NOT NULL DEFAULT '0',
  `count_english_medium` smallint unsigned NOT NULL DEFAULT '0',
  `total_students` smallint unsigned NOT NULL DEFAULT '0',
  `total_teachers` smallint unsigned NOT NULL DEFAULT '0',
  `total_classes` smallint unsigned NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_vsss_year` (`vested_school_id`,`stat_year`),
  KEY `idx_vsss_year` (`stat_year`),
  CONSTRAINT `fk_vsss_school` FOREIGN KEY (`vested_school_id`) REFERENCES `vested_schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vested_school_student_stats`
--

LOCK TABLES `vested_school_student_stats` WRITE;
/*!40000 ALTER TABLE `vested_school_student_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `vested_school_student_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vested_schools`
--

DROP TABLE IF EXISTS `vested_schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vested_schools` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `school_id` int unsigned NOT NULL,
  `province` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `district` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `education_zone` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `divisional_secretariat` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `parish` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `zone` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Church/pastoral zone',
  `region` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_address` text COLLATE utf8mb4_unicode_ci,
  `school_phone` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_fax` varchar(25) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_census_no` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'MOE census / registration number',
  `year_established` year DEFAULT NULL,
  `school_type_detail` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'e.g. National, Provincial',
  `student_admission_type` enum('Boys','Girls','Mixed') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_category` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `medium_of_instruction` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Sinhala / Tamil / English / Bilingual',
  `bog_catholic_pct` decimal(5,2) DEFAULT NULL,
  `bog_other_christian_pct` decimal(5,2) DEFAULT NULL,
  `bog_buddhist_pct` decimal(5,2) DEFAULT NULL,
  `bog_hindu_pct` decimal(5,2) DEFAULT NULL,
  `bog_islam_pct` decimal(5,2) DEFAULT NULL,
  `bog_other_religion_pct` decimal(5,2) DEFAULT NULL,
  `overview_general` text COLLATE utf8mb4_unicode_ci,
  `overview_remarks` text COLLATE utf8mb4_unicode_ci,
  `overview_special_notes` text COLLATE utf8mb4_unicode_ci,
  `overview_challenges` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `school_id` (`school_id`),
  KEY `idx_vs_province` (`province`),
  KEY `idx_vs_district` (`district`),
  KEY `idx_vs_zone` (`zone`),
  KEY `idx_vs_region` (`region`),
  CONSTRAINT `fk_vs_school` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vested_schools`
--

LOCK TABLES `vested_schools` WRITE;
/*!40000 ALTER TABLE `vested_schools` DISABLE KEYS */;
/*!40000 ALTER TABLE `vested_schools` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-09 10:34:12
